@using Bmw_MVC.Models
@model Mensagem
@{
    ViewData["Title"] = "Formulario";
}

<div class="container" style="margin-top: 30px; margin-bottom: 30px;">
    <form asp-action="SalvarMensagem" method="POST">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="nome">Seu Nome: </label>
                <input asp-for="nome" class="form-control" placeholder="Insira seu nome..." required>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="email">Seu Email: </label>
                <input asp-for="email" type="email" class="form-control" placeholder="Insira seu Email..." required>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="telefone">Seu Telefone: </label>
                <input asp-for="telefone" class="form-control" placeholder="Insira seu telefone...">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="tipoMensagem">Selecione o tipo de mensagem:</label>
                <select asp-for="tipoMensagem" class="form-control">
                    <option value="1">Dúvida</option>
                    <option value="2">Reclamação</option>
                    <option value="3">Elogio</option>
                    <option value="4">Agendamento</option>
                    <option value="5">Recall</option>
                    <option value="6">Atendimento</option>
                    
                </select>
            </div>
            <div class="form-group col-md-4">
            </div>
            <div class="form-group col-md-4">
                <label asp-for="bmw">Seu Bmw + o Ano: </label>
                <input asp-for="bmw" class="form-control" placeholder="Insira o Modelo do seu BMW + o Ano...">
            </div>
        </div>
        <div class="form-group">
            <textarea asp-for="mensagem" class="form-control" cols="15" rows="10" required></textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Enviar Mensagem">
    </form>
</div>
